@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff; 
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .app-container {
  background-color: #121212; 
  color: #ffffff;
}

.toggle-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 20px; 
}

.dark-mode .toggle-button {
  background-color: #5cb85c;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2B7CE9; 
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode .app-header {
  background-color: #1e1e1e;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
  margin-top: 60px;
  margin-bottom: 40px;
}

.dark-mode .main-content {
  color : #ffffff;
  background-color: #000000ea;
}

.input-section {
  width: 40%;
  padding: 10px;
  margin-left: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .input-section {
  background-color: #00000000;
  color: #f0f0f0;
}

.graph-section {
  width: 55%;
  padding-left: 20px;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#graph-container {
  height: 600px;
  width: 100%;
  border: 1px solid black;
  background-color: #ffffff;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.dark-mode #graph-container {
  background-color: #303030;
  border: 1px solid #ffffff; 
}

.generate {
  padding: 10px 20px;
  background-color: #138fe1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.generate:hover {
  background-color: #45a045;
}

.dark-mode .generate:hover {
  background-color: #4fa04f;
} 

.dark-mode .generate {
  background-color: #5cb85c; 
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2B7CE9;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.dark-mode .app-footer {
  background-color: #1e1e1e;
}

label {
  padding: 5px;
  color: #000000;
}

.dark-mode label {
  color: #ffffff; 
}

.darkButton{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  margin-left: 50px; 
}